* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* reset button  */
button {
  border: none;
  outline: none;
  background-color: transparent;

  font-size: inherit;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.model-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}

.model-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.model-backdrop.show .model-container {
  transform: scale(1);
}

.model-container {
  position: relative;
  width: min(700px, 80%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;

  transform: scale(0);
  transition: transform;
  transition-duration: 0.3s;
}

.model-close {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #ebebeb;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 1.6rem;
  color: #666;
}

.model-close:hover {
  color: #2b2b2b;
}

.model-content {
  max-height: 70vh;
  overflow-y: auto;
}

main {
  padding: 50px;
}

.btn-model {
  background-color: #ebebeb;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 20px;

  -webkit-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
